
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap%27');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

.opensans {
  font-family: "Open Sans", sans-serif;
}

.boxhead a{
    text-decoration: none;
    text-decoration-line: none;
    color: rgb(58, 80, 107);
}

.boxhead a:hover{
    color: rgb(242, 102, 25);
}

h1{
    text-align: center;
    font-size: 80px !important;
    border-bottom-color: white;
}


#background-video {
    height: 120%;
    width: 120%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-2%);
    bottom: 0;
    z-index: -1;
    filter: blur(5px);
    }

.titre{
    margin-top: 2%;
}



.menut a{
    padding: 0.5em 0;
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
    display: inline-block;
    list-style: outside none none;
    padding: 0;
}

.menut a:before,
.menut a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.menut a:after {
    left: 0;
    top: 0;
    padding: 0.5em 0;
    position: absolute;
    content: attr(data-hover);
    white-space: nowrap;
    max-width: 0%;
    overflow: hidden;
}
.menut a:hover:before, .menut .current a:before {
    opacity: 1;
    width: 100%;
}
.menut a:hover:after,
.menut .current a:after {
    max-width: 100%;
}



body{
    margin: 0;
    font-family: 'Raleway';
}

.test{
    margin: 2%;
    height: fit-content;
    justify-self: center;
}

/*css pour le haut de page a plus de 1000px*/

.mainhead{
    z-index: 10;
    display: grid;
    grid-template-rows:80% 20%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    height: 60vh;
    max-height: 500px;
    background: white;
    color: rgb(11, 19, 43);
    position: relative;
    left: 0;
}

.titre{
   justify-content: center;
}

.menut{
    grid-row: 2;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    left: 0;
    align-items: center;
}

.boxhead{
    font-size: 30px;
    width: fit-content;
    margin-bottom: 10px;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    text-decoration: none;
    text-align: center;
}

.boxhead:hover{
    color: rgb(242, 102, 25);
}

.boxhead0:hover{
    text-decoration: underline;
}
.boxhead1:hover{
    text-decoration: underline;
}
.boxhead2:hover{
    text-decoration: underline;
}
.boxhead3:hover{
    text-decoration: underline;
}
.boxhead4:hover{
    text-decoration: underline;
}
.boxhead5:hover{
    text-decoration: underline;
}


.logo1{
    grid-row: 1; 
    text-align: center;
}
.imglogo1{
    margin-top: 1%;
    width: 20%; 
}


/*barre de navigation*/

.menut.fixed{
    position:fixed;
    top:0;
    z-index:1000;
    height: 11.931%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: white;
    width: 100%;
  }



  /*bouton pour remonter la page */

.btop{
    height: 20px; 
}

.scrollUp{
    position: fixed;
    visibility: hidden;
    background: transparent;
}  
.scrollUp.visible{
    z-index: 1000;
    visibility: visible;
    top: 4em;
    left: 50%;
    transform: translate(-50%);
    opacity: 50%;
}

/*  fin de la parite pour le bouton sroll up */
/* fin css de la tete */

/* css pour le corps(le carré blanc) */
.titre1{
    font-size: 800%;
    text-align: center;
}
.soustitre{
    font-family: "Open Sans";
    margin-bottom: -2%;
    text-decoration: underline;
}
h3{
    text-align: center;
    padding-bottom: 3%;
    font-size: 180%;
}

.deezercharts{
    font-family: "Open Sans";
    margin-left: 4%;
    margin-right: 4%;
    font-size: 250%;
    text-align: center;
}

.top1{
    display:flex;
    border-radius: 5%;
    flex-direction: column;
    box-shadow: #ecc266 0px 2px 4px, #ecc266 0px 2px 4px, #ecc266 0px 2px 4px, #ecc266 0px 2px 4px, #ecc266 0px 2px 25px,#ecc266 0px 2px 25px;
    border: 10px solid transparent;
    width:30%;
    background: white;
    align-items: center;
    text-align:center;
    margin-left:34%;
}
.top2{
    margin-top: 5%;
    border-radius: 5%;
    display:flex;
    flex-direction: column;
    box-shadow: #f4641c 0px 1px 2px, #f4641c 0px 2px 4px, #f4641c 0px 4px 8px, #f4641c 0px 8px 16px, #f4641c 0px 16px 32px,#f4641c 0px 32px 64px;
    border: 10px solid transparent;
    width:25%;
    background: white;
    text-align: center;
    margin-left: 23%;
}

.top3{
    margin-top: 5%;
    border-radius: 5%;
    display:flex;
    flex-direction: column;
    box-shadow: #f4641c 0px 1px 2px, #f4641c 0px 2px 4px, #f4641c 0px 4px 8px, #f4641c 0px 8px 16px, #f4641c 0px 16px 32px,#f4641c 0px 32px 64px;
    border: 10px solid transparent;
    width:25%;
    background: white;
    text-align: center;
    margin-left: 2%;
}

.globe{
    display:flex;
}

.imgtop1{
    align-items: center;
    text-align: center;
    width: 350px;
    height: 350px;
}
.toptitre{
    font-size: 300%;
}
.corps{
    height: auto;
    position: relative;
    border: 100px;
    min-height: 2800px;
    margin: 5%;
    margin-top: 100px;
    background: white;
}
/* votre css ici */
p{
    font-size: 80%;
}
h5{
    font-size: 400%;
    text-align: center;
    margin-top: 5%;
}

.deezertop{
    margin-top: 5%;
    margin-left: 6.5%;
}
.button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 600;
  line-height: normal;
  margin-top: 5%;
  margin-bottom: 5%;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  width: 50%;
  will-change: transform;
  transform: translateX(50%);
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  transform: translateX(50%);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
  transform: translateX(50%);
}


/* fin de votre css*/
/* fin css pour le corps*/

/*css pied de page*/
.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#2c445c;
  }
  
  .footer-dark h3 {
    margin-top:0px;
    margin-bottom:2%;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    text-align:center;
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:25px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    text-align:center;
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    text-align:center;
    opacity:0.8;
  }
  
  @media (max-width:767px) {
    .footer-dark .item:not(.social) {
      text-align:center;
      padding-bottom:20px;
    }
  }
  
  .footer-dark .item.text {
    text-align:center;
    margin-bottom:36px;
  }
  
  @media (max-width:767px) {
    .footer-dark .item.text {
        text-align:center;
      margin-bottom:0;
    }
  }
  
  .footer-dark .item.text p {
    text-align:center;
    opacity:0.6;
    margin-bottom:0;
  }
  
  .footer-dark .item.social {
    text-align:center;
  }
  
  @media (max-width:991px) {
    .footer-dark .item.social {
      text-align:center;
      margin-top:20px;
    }
  }
  
  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }

  .footer-social-links{
    font-size: 14px;
  text-align: center;
  margin-top: 20%;
}
.footer-social-links a{
    width: 25px;
    height: 25px;
    line-height: 25px !important;
    position: relative;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
    color: #111;
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}
.footer-social-links a i,
.footer-social-links a span{
    position: relative;
    top: 2px;
    left: 1px; 
}
.footer-social-links a:before{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #111;
    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
    -webkit-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);  
    -moz-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    -o-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    -ms-transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000); 
    transition: all 0.27s cubic-bezier(0.300, 0.100, 0.580, 1.000);
    
}
.footer-social-links a:hover{
    color: #fff;
}
.footer-social-links a:hover:before{
    background: #111;
}

.button-29 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: rgba(255,255,255,0.4);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  margin-left: 25%;
  margin-top: 2%;
  margin-bottom: 2%;
  min-height: 60px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  width: 50%;
  will-change: transform;
}

.button-29:disabled {
  pointer-events: none;
}

.button-29:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: none;
  transform: translateY(0);
}
  
/* cache le menu bootstrap*/
.dropdown{
    height: 0;
    visibility: hidden;
    position: fixed;
    z-index: 0;
}

/*palette de couleur (useless c'est juste pour l'avoir dans le tab)*/
.t1{
    background: rgb(112, 254, 232);
    background: rgb(92, 191, 190);
    background: rgb(58, 80, 107);
    background: rgb(28, 37, 65);
    background: rgb(11, 19, 43);
}


@media screen and (max-width: 1000px){

    /* css tete */
    .mainhead{
        top: 0;
        width: 100%;
        height: fit-content;
        position: fixed;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;

    }

    .menud{
        margin-left: 10%;
    }


    /* css menu déroulant */
    .boxhead{ /* cache l'ancien menu*/
        visibility: hidden;
        position: fixed;
        z-index: 0;
    }

        /* menu bootstrap*/
    .dropdown{
        visibility: visible;
        position: relative;
        z-index: 10;
    }
    

    /*css corps*/
    .corps{
        top: 30%;
        margin-left: 1%;
        margin-right: 1%;
    }

    
}
