.image3
{
  margin-left: 30%;
  width: 35%;
  height: 35%;
}

.boxhead5 a{
  color: rgb(242, 102, 25);
  text-decoration: underline;
}


h2
{
  margin-top: 4%;
  text-align: center;
  font-size: 80px;
  font-weight: bold;
}

.texte
{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  font-size: 36px;
}

#txt_graph
{
  font-size: 36px;
  text-align: justify;
}

.par_bourse
{
  margin-left: 2%;
  margin-right: 2%;
}

.card
{
  border: 2px inset grey;
  margin-top: 5%;
}

.container
{
  display: grid;
}

.card1
{
  grid-column: 1;
  grid-row: 1;
}

.card2
{
  grid-column: 3;
  grid-row: 1;
}

.card3
{
  grid-column: 1;
  grid-row: 2;
}

.card4
{
  grid-column: 3;
  grid-row: 2;
}

.card5
{
  grid-column: 2;
  grid-row: 1;
}

.card6
{
  grid-column: 2;
  grid-row: 3;
}

.card7
{
  grid-column: 2;
  grid-row: 2;
}

.card-text
{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
